* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body{
  background-color: rgb(30, 30, 30);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#main{
  padding: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}


.heading h1{
  color: white;
}



.form-container form input {
  padding: 10px;
  border: none;
  outline: 1px solid black;
}

.form-container form button{
  padding: 10px;
  border: none;
  background: lightseagreen;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.note{
  background: #313131;
  border-radius: 1rem;
  padding: 10px;
  width: 700px;
  margin-top: 10px;
}


.note h1{
  color: white;
}
.note p{
  color: rgb(161, 161, 161);
}
.note button{
  padding: 10px;
  background: rgb(255, 16, 16);
  color: white;
  cursor: pointer;
  font-weight: 500;
  border:  none;
  border-radius: 8px;
  margin-top: 20px;
}
